.docked-widget {
    position: fixed;
    top: 0px;
    right: 10px;
    width: fit-content;
    z-index: 9999;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.dock {
    background-color: #00BFA6;
    padding: 7px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
}

.dock.close {
    background-color: #bf0600;
    border: 2px dashed #bf0600;
}


.dock span:last-child {
    display: none;
}

.dock:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
    color: #00BFA6;
}

.dock.close:hover {
    transition: .4s;
    background-color: #fff;
    border: 2px dashed #bf0600;
    color: #bf0600;
}


.dock:active {
    background-color: #87dbd0;
}
